/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #680747;
    margin: 0px;
    padding: 4px;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

header {
    background: #f70776;
    color: #141010;
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 20px;
}

header a {
    color: #141010;
    text-decoration: none;
    margin: 0 10px;
}

header nav {
    margin-top: 10px;
}

form {
    background: #c3195d;
    padding: 20px;
    margin: 40px 100px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(86, 42, 158, 0.1);
    width:70%;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f70776;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    background: #680747;
    color: #1caf83;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #000000;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
}

ul li a:hover {
    background: #f4f4f4;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f70776;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
